
    html {
        background-color: rgb(244, 247, 247);
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.6em;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    h1 {
        color: rgb(0, 0, 0);
        font-size: 2em;
        font-weight: bold;
        line-height: 1.2em;
        margin: 0.67em 0;
    }
    h2 {
        color: rgb(0, 0, 0);
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.2em;
        margin: 0.83em 0;
    }
    h3 {
        color: rgb(0, 0, 0);
        font-size: 1.17em;
        font-weight: bold;
        line-height: 1.2em;
        margin: 1em 0;
    }
    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    a:visited {
        color: rgb(0, 0, 0);
    }
    a:hover {
        color: rgb(0, 0, 0);
        text-decoration: underline;
    }
    a:active {
        color: rgb(0, 0, 0);
    }
    p {
        margin: 1em 0;
    }
    ul {
        color:rgb(0, 12, 98);
        list-style: square;
        margin: 1em 0;
        padding: 0;
    }
    ol {
        list-style: decimal;
        margin: 1em 0;
        padding: 0;
    }
    li {
        margin: 0.5em 0;
        color:rgb(0, 12, 98);
    }
    blockquote {
        background-color: rgb(255, 255, 255);
        border-left: 10px solid rgb(0, 0, 0);
        margin: 1em 10px;
        padding: 0.5em 10px;
    }
    
    